body{
    background-color: darkorchid;
    color: white;
}
button{
    background-color: hotpink;
    color: black;
    font-size: 18px;
}
div{
    background-color:rgb(255, 95, 154) ;
    color:rgb(8, 61, 0);
    position: fixed;
    bottom:0;
    text-shadow: 5px 5px 5px #ffffff;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
h3{
    background-color:deeppink;
    color:black;
}