body{
    background-color: darkorchid;
    color: white;
}
button{
    background-color: hotpink;
    color: black;
    font-size: 18px;
}
div{
    background-color:rgb(255, 95, 154) ;
    color:darkorchid;
    position: fixed;
    bottom:0;
    text-shadow: 5px 5px 5px #00d5ff;
    font-size: 30px;
    width: 100%;
    font-family:'Dancing Script', cursive;
    text-align: center;
}